@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&family=Mulish:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /**
   * Tailwind CSS theme
   * tailwind.config.ts expects the following color variables to be expressed as HSL values.
   * A different format will require also updating the theme in tailwind.config.ts.
  */
  :root {
    --background: 0 0% 1%;
    --foreground: 0 0% 100%;

    --card: 0 0% 13%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 13%;
    --popover-foreground: 0 0% 100%;

    --primary: 16 100% 56%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 13%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 13%;
    --muted-foreground: 0 0% 70%;

    --accent: 0 0% 13%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 15%;
    --input: 0 0% 13%;
    --ring: 16 100% 56%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 1%;

    --sidebar-foreground: 0 0% 70%;

    --sidebar-primary: 16 100% 56%;

    --sidebar-primary-foreground: 0 0% 100%;

    --sidebar-accent: 0 0% 13%;

    --sidebar-accent-foreground: 0 0% 100%;

    --sidebar-border: 0 0% 15%;

    --sidebar-ring: 16 100% 56%;
  }

  .dark {
    --background: 0 0% 1%;
    --foreground: 0 0% 100%;

    --card: 0 0% 13%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 13%;
    --popover-foreground: 0 0% 100%;

    --primary: 16 100% 56%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 13%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 13%;
    --muted-foreground: 0 0% 70%;

    --accent: 0 0% 13%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 15%;
    --input: 0 0% 13%;
    --ring: 16 100% 56%;
    --sidebar-background: 0 0% 1%;
    --sidebar-foreground: 0 0% 70%;
    --sidebar-primary: 16 100% 56%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 13%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 0 0% 15%;
    --sidebar-ring: 16 100% 56%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: 'Plus Jakarta Sans', -apple-system, 'Roboto', 'Helvetica', sans-serif;
  }

  html {
    @apply dark;
  }
}
